body {
  /*position: relative;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: white;
}

.signupFrm {
  position: relative;
  display: grid !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 1%;
}

.form-green {
  /*position: relative;*/
  background-color: transparent;
  width: 600px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 0 20px black;
  margin-bottom: 2%;
}

.inputContainer {
  position: relative !important;
  height: 55px;
  width: 100%;
  margin-bottom: 2%;
}

.input-green {
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #145A32;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.labelform {
  position: absolute !important;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #212121;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.submitBtn {
  display: block;
  width: 150px;
  text-align: center;
  padding: 15px 30px;
  border: none;
  background-color: #7AAD47;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

.submitBtn:hover {
  background-color: green;
  transform: translateY(-2px);
}

.cancelBtn {
  display: block;
  width: 150px;
  text-align: center;
  padding: 15px 30px;
  border: none;
  background-color: #EF2929;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cancelBtn:hover {
  background-color: #A40000;
  transform: translateY(-2px);
}

.input-green:focus + .labelform {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input-green:not(:placeholder-shown)+ .labelform {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input-green:focus {
  border: 2px solid green;
}

a{
  color: #7AAD47;
  text-decoration: none;
}

a:visited { 
  color: #7AAD47;
}

a.cancelBtn:visited{
  color: white;
}

a:hover { 
  color: green;
}

.icon{
  width: 300px;
}

select {
  position: relative;
  background: transparent;
  height: 55px;
  width: 100%;
  padding: 5px;
  border: 2px solid #145A32;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  margin-bottom: 3%;
}

select option{
  background-color: #212121;
}

.imgTipo{
  width: 150px; 
  height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}
