body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: white;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-green {
  background-color: transparent;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 0px 10px green;
}

.inputContainer {
  position: relative;
  height: 55px;
  width: 90%;
  margin-bottom: 5%;
}

.input-green {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #145A32;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.labelform {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #212121;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.submitBtn {
  display: block;
  width: 50%;
  /*margin-left: auto;*/
  padding: 15px 30px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.submitBtn:hover {
  background-color: #145A32;
  transform: translateY(-2px);
}

.cancelBtn {
  display: block;
  width: 50%;
  /*margin-left: auto;*/
  text-align: center;
  padding: 15px 30px;
  border: none;
  background-color: #EF2929;
  text-decoration: none;
  color: white;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.cancelBtn:hover {
  background-color: #A40000;
  transform: translateY(-2px);
}

.input-green:focus + .labelform {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input-green:not(:placeholder-shown)+ .labelform {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input-green:focus {
  border: 2px solid green;
}

a{
  color: greenyellow;
  text-decoration: none;
}

a:visited { 
  color: greenyellow;
}

a.cancelBtn:visited{
  color: white;
}

a:hover { 
  color: green;
}