@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@100;300&display=swap');

body {
  /*position: relative;*/
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #131414;
  color: white;
  font-size: calc(0.6em + 0.6vw);
}

.signupFrm {
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  display: grid !important;
  justify-content: center;
  align-items: center;
}

.form-green {
  position: relative;
  background-color: #17202A;
  min-width: 40vw;
  width: 60vw;
  max-width: 90vw;
  border-radius: 2%;
  padding: 20px 40px;
  box-shadow: 0 0 30px black;
}

.formlg{
  margin-top: 3%;
  margin-bottom: 3%;
}

.inputContainer {
  position: relative !important;
  height: 55px;
  width: 100%;
  margin-bottom: 2%;
}

.input-green {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #FFF;
  border-radius: 7px;
  color: white;
  /*font-size: 16px;*/
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 3;
}

.labelform {
  position: absolute !important;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #17202A;
  /*font-size: 16px;*/
  transition: 0.5s;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.submitBtn {
  display: block;
  min-width: 20%;
  max-width: 40%;
  width: 25%;
  text-align: center;
  /*padding: 15px 30px;*/
  border: none;
  background-color: #46a525;
  font-weight: bold;
  /*font-size: 16px;*/
  color: white;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

.submitBtn:hover {
  background-color: green;
  transform: translateY(-2px);
}

.cancelBtn {
  display: block;
  width: 150px;
  text-align: center;
  padding: 15px 30px;
  border: none;
  background-color: #EF2929;
  font-weight: bold;
  /*font-size: 16px;*/
  text-decoration: none;
  color: white;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cancelBtn:hover {
  background-color: #A40000;
  transform: translateY(-2px);
}

.regBtn {
  display: block;
  width: 250px;
  text-align: center;
  padding: 15px 30px;
  border: none;
  background-color: #46a525;
  font-weight: bold;
  /*font-size: 16px;*/
  color: white;
  border-radius: 60px;
  cursor: pointer;
  /*margin-top: 2%;
  margin-bottom: 2%;*/
}

.regBtn:hover {
  background-color: green;
  transform: translateY(-2px);
}

.input-green:focus + .labelform {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: calc(0.48em + 0.48vw) !important;/*font-size: 14px;*/
  /*font-weight: 600;*/
}

.input-green:not(:placeholder-shown)+ .labelform {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: calc(0.48em + 0.48vw) !important;/*font-size: 14px;*/
  /*font-weight: 600;*/
}

.input-green:focus {
  border: 2px solid green;
}

a{
  color: #46a525;
  text-decoration: none;
}

a:visited { 
  color: #46a525;
}

a.cancelBtn:visited{
  color: white;
}

a:hover { 
  color: green;
}

.icon{
  width: 300px;
}

select {
  position: relative;
  background: transparent;
  height: 55px;
  width: 100%;
  padding: 5px;
  border: 2px solid #FFF;
  border-radius: 7px;
  color: white;
  /*font-size: 16px;*/
  margin-bottom: 2%;
}

select:focus{
  border: 2px solid green;
}

select option{
  background-color: #131414;
}

.imgTipo{
  width: 150px; 
  height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}



/*Eddy xd*/

.bordes{
  border:solid;
  border-color:black;
  
}
.icono{
  width: 30px;
  height: 30px;
  float: right;
}
.iconoAct{
  width: 60px;
  height: 60px; 
  float: left;
  -webkit-filter: invert(100%);
    filter: invert(100%);
}

.btn-gris {
  color: #fff;
  background-color: #5F5C5C;
  border-color: #5F5C5C;
}
.btn-gris:hover {
  color: #fff;
  background-color: #716C6C;
  border-color: #716C6C;
}
.btn-check:focus + .btn-gris, .btn-gris:focus {
  color: #fff;
  background-color: #716C6C;
  border-color: #716C6C;
  box-shadow: 0 0 0 0.25rem rgba(82, 83, 83, 0.5);
}
.btn-check:checked + .btn-gris, .btn-check:active + .btn-prigrismary, .btn-gris:active, .btn-gris.active, .show > .btn-gris.dropdown-toggle {
  color: #fff;
  background-color: #716C6C;
  border-color: #504E4E;
}
.btn-check:checked + .btn-gris:focus, .btn-check:active + .btn-gris:focus, .btn-gris:active:focus, .btn-gris.active:focus, .show > .btn-gris.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(82, 83, 83, 0.5);
}
.btn-gris:disabled, .btn-gris.disabled {
  color: #fff;
  background-color: #5F5C5C;
  border-color: #5F5C5C;
}


/* SideBar */


